<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
</head>
<body>

<h2>Register</h2>

{% if error %}
<p style="color:red">{{ error }}</p>
{% endif %}

<form method="POST" autocomplete="off">
    {% csrf_token %}

    <input type="text" name="username" placeholder="Username" autocomplete="off">
    <br><br>

    <input type="password" name="password" placeholder="Password" autocomplete="new-password">
    <br><br>

    <input type="email" name="email" placeholder="Email" class="form-control">
    <br><br>

    <button type="submit">Register</button>
</form>

<br>

<a href="/login/">Already have an account? Login</a>

</body>
</html>